<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="Art.GoodsSlider" value="108" /> 
    <add key="Art.RbrMp" value="127" />
    <add key="Art.AllKitchenCabinets" value="20" />

    <add key="AppID" value="seychelles-premium_travel" />
    <add key="AppDomain" value="seychelles-premium.travel" />
    <add key="Admin.LgList" value="Ru|Русский|En|English" />
    <add key="AppProtocol" value="http" />
 
    <!-- DB -->
    <add key="Data.TypeBD" value="MSSQL" />
		<add key="Data.IsMsSQL2012" value="True" />
    <add key="Data.ConnectionString" value="Data Source=prod.webviki.by,1455;Initial Catalog=seychelles-premium.travel;Uid=sa;Password=VkI58vGh;Connection Timeout=2600" />
		<!--add key="Data.ConnectionString" value="Data Source=sql2012.nthosting.ru;Initial Catalog=seychelles-premium;User ID=seychelles-premium;Password=k58lkkJFj3KDgh;Connection Timeout=120" /-->


    <!-- Mail -->
    <add key="Mail.SMTPServer" value="" />
    <add key="Mail.SMTPServerPort" value="" />
    <add key="Mail.SMTPAuthentication" value="" />
    <add key="Mail.SMTPUsername" value="" />
    <add key="Mail.SMTPPassword" value="" />
    <!-- Setting HTML-editor(WYSIWYG)-->
    <add key="HtmlEditor.HttpSkin" value="skins/default/" />
    <add key="HtmlEditor.Toolbar_BackEnd" value="BackEnd" />
    <add key="HtmlEditor.Toolbar_BackEnd_Expanded" value="True" />
    <add key="FCKeditor:UserFilesPath" value="/upload/" />
    <add key="CKeditor:UserFilesPath" value="/upload/" />
    <add key="HtmlEditor.BasePath" value="/editor5" />
    <add key="HtmlEditor.IsHtml5Editor" value="True" />

    <!-- Setting of Cache -->
    <!--VCache.Synch = Not/DB/MemCache:Redis -->
    <!--VCache.SynchSec = DB (use only for VCache.Synch) -->
    <add key="VCache.Synch" value="DB" />
    <add key="VCache.SynchSec" value="3" />
    <add key="VCache.Minutes" value="1" />
    <add key="Admin.Session.TimeOut" value="60" />

    <!-- SEO -->
    <add key="SEO.IsUse" value="True" />

    <!-- Logger -->
    <add key="Logger.Path" value="~/Log/" />
    <add key="Logger.FileName" value="Log" />
    <add key="Logger.IsUse" value="True" />
    <add key="Logger.IsDdPerformance" value="False" />
    <add key="Logger.IsDdCache" value="False" />
    <add key="Logger.SeparateFile" value="True" />
    <add key="Logger.IsSearchText" value="False" />
    <add key="Logger.Redirect" value="False" />
    <!--add key="Logger.IsAllSqlQueries" value="True" /-->

    <!--  Parser/Transformer -->
    <add key="Parser.IsNotUseOldParser" value="True" />
    <add key="Main.IsDebugMode" value="True" />
    <add key="Main.IsNotMiniHtml" value="True" />
    <add key="Main.IsNotHtmlCompress" value="True" />
    <add key="Main.IsFullAccessMashine" value="False" />

  </appSettings>
  <system.web>
    <caching>
      <outputCache enableOutputCache="false" />
    </caching>
    <trace enabled="false" localOnly="true" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.IO.Compression, Version=4.1.2.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="None" />

    <customErrors mode="Off" />
    <pages validateRequest="false" enableViewState="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="Viki" />
        <add namespace="Viki.Mvc" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <globalization fileEncoding="windows-1251" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
      <!-- REMOVE HTML -->
    <!-- <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.htm" />
            </files>
    </defaultDocument> -->
    <staticContent>
      <!-- REMOVE HTML -->
      <!-- <remove fileExtension=".yml" />
      <remove fileExtension=".html" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".yml" mimeType="application/xml" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".html" mimeType="application/xml" /> -->
    </staticContent>
    <modules runAllManagedModulesForAllRequests="false" />
    <handlers>
      <remove name="UrlRoutingHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <httpRuntime enableVersionHeader="false" requestValidationMode="2.0" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
				<assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="4.1.2.0" />
			</dependentAssembly>		
			
    </assemblyBinding>
  </runtime>
</configuration>