.about__text {
  color: red;
}
.about {
  // &__text{
  //   color: white;
  //   font-family: $montserrat;
  // }
  // &__title{
  //   background-color: green;
  // }
}
.about__row {
  &__img {
    margin-bottom: 40px;
    img{
      max-width: 100%;
      height: auto;
      border-radius: 9px;
    }
  }
  &__text {
    font-family: $montserrat;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color: #c7d2d4;
    margin-bottom: 24px;
  }
  &__title {
    font-family: var(--FontFamilyMain);
    font-size: 24px;
    font-weight: 600;
    line-height: 38.4px;
    text-shadow: 0px 0px 15px #1ed4a9, 0px 0px 8px rgba(30, 212, 169, 0.5);
    margin-top: 16px;
    margin-bottom: 24px;
  }
  &__row {
    display: flex;
    justify-content: center;
  }
  &__item {
    width: 264px;
    height: 592px;
    margin-right: 30px;
  }
  &__item img {
    width: 264px;
    border-radius: 9px;
  }
  &__item__h {
    font-family: $montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  &__item__p {
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 25.6px;
    color: #c7d2d4;
  }
  &__img__right {
    background: url(/src/img/about/main-about-right.png);
    width: 863px;
    height: 590px;
    display: flex;
  }
  &__img__right span {
    font-size: 90px;
    font-weight: 800;
    line-height: 90px;
    letter-spacing: 0.05em;
    text-align: left;
    align-items: center;
    display: flex;
    margin: 0 auto;
  }
}
// --adaptiv--
@media screen and (max-width: 1600px){
  .about__row{
    &__row{
      flex-wrap: wrap;
    }
  }
}
