.contacts__row img {
  max-width: 100%;
  height: auto;
  border-radius: 9px;
}
.address {
  display: flex;
  padding: 40px;
  background-color: #145260;
  margin-top: 40px;
}
.number {
  margin-right: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
}
.address__house p {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
}
.address__house span {
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  color: #c8d6da;
}
.mail {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-decoration: none;
  color: #ffffff;
  margin-top: 23px;
  margin-left: 40%;
  margin-right: 10%;
  margin-bottom: 55px;
}
.phone__number {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
}
h1 {
  text-shadow: 0px 0px 15px #1ed4a9, 0px 0px 8px rgba(30, 212, 169, 0.5);
  font-size: 44px;
  font-weight: 600;
  line-height: 52.8px;
  font-family: 'Spectral SC', serif;
}
h2 {
  text-shadow: 0px 0px 15px #1ed4a9, 0px 0px 8px rgba(30, 212, 169, 0.5);
  font-size: 24px;
  font-weight: 600;
  line-height: 38.4px;
  font-family: 'Spectral SC', serif;
}
.more__text {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  color: #c8d6da;
}
// --adaptiv--
@media screen and (max-width: 1600px) {
  .mail {
    margin-left: 30%;
  }
}
@media screen and (max-width: 1280px) {
  .mail {
    margin-left: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .address {
    display: block;
    text-align: center;
  }
  .mail {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }
  .address__house {
    margin-bottom: 25px;
  }
}
