.header {
  padding: 15px 0;
  @include viewport-md {
    // background: rgba(255, 255, 255, 0.05);
  }
  @include viewport-lg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 500;
  }
  @include viewport-xl {
    padding: 50px 0;
  }
  &__inner {
    display: flex;
    align-items: center;
    @media (min-width: 1920px) {
      margin-left: -200px;
      margin-right: -200px;
    }
  }
}
.menudesktop {
  display: none;
  @include viewport-lg {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 10px;
  }
  @include viewport-xl {
    gap: 30px;
  }
  @include viewport-xxl {
    gap: 50px;
  }
  &__item {
    list-style: none;
  }
  &__link {
    font-family: $montserrat;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    @include viewport-lg {
      font-size: 14px;
    }
    @include viewport-xxl {
      font-size: 20px;
    }
  }
}
.phone-mob {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  @include viewport-lg {
    display: none;
  }
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 16px;
  text-decoration: none;
  position: relative;
  max-width: 200px;
  margin-left: 35px;
  @include viewport-lg {
    margin-left: 0;
  }
  @media (min-width: 1920px) {
    gap: 80px;
  }
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    left: 45px;
    background: #008085;
    @include viewport-lg {
      background: #fff;
    }
    @media (min-width: 1920px) {
      left: 150px;
    }
  }
  img {
    width: 37px;
    height: 28px;
    @media (min-width: 1920px) {
      width: 110px;
      height: 84px;
    }
  }
  span {
    font-family: $spectral;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    @media (min-width: 1920px) {
      font-size: 30px;
    }
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  &__call {
    display: none;
    @include viewport-lg {
      display: flex;
      width: 160px;
      font-size: 14px;
      height: 40px;
    }
    @include viewport-xl {
      display: flex;
      width: 220px;
      font-size: 18px;
      height: 50px;
    }
  }
}

.basket {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  padding: 0;
  @include viewport-lg {
    margin-left: 20px;
    margin-right: 20px;
  }
  @include viewport-xl {
    margin-left: 25px;
    margin-right: 25px;
  }
  span {
    font-family: $montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #ff3b30;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
    color: #fff;
  }
}
.phone-desktop {
  display: none;
  @include viewport-lg {
    font-family: $montserrat;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @include viewport-xl {
    font-size: 14px;
    margin-left: 25px;
    margin-right: 25px;
  }
  @include viewport-xxl {
    margin-left: 60px;
    font-size: 16px;
  }
}
.burger {
  border: none;
  background: none;
  width: 24px;
  height: 24px;
  display: block;
  padding: 5px 3px;
  cursor: pointer;
  margin-left: 24px;
  @include viewport-lg {
    display: none;
  }
  span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background: #fff;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: block;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
  &.open {
    span {
      &:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}

.menumobile {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.5s ease-in-out;
  transform: translateY(100%);
  &.open {
    transform: translateY(0%);
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background: #fff;
    height: 90%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 25px;
    overflow-y: auto;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  &__body {
  }
  &__footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    // padding-top: 24px;
  }
  &__order {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: $montserrat;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    span {
      font-family: $montserrat;
      font-size: 14px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      background: rgba(255, 59, 48, 1);
      color: #fff;
    }
  }
  &__services {
    margin: 0;
    padding: 24px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 24px;
    li {
      a {
        text-decoration: none;
        font-family: $montserrat;
        font-size: 18px;
        font-weight: 300;
        color: rgba(0, 0, 0, 1);
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
  &__pages {
    margin: 0;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    li {
      a {
        text-decoration: none;
        font-family: $montserrat;
        font-size: 18px;
        font-weight: 300;
        color: rgba(0, 0, 0, 1);
      }
    }
  }
  &__phone {
    font-family: $montserrat;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
