.promo {
  height: 470px;
  @include viewport-lg {
    height: 770px;
  }
  .container {
    height: 100%;
  }
  &__row {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;
    @include viewport-lg {
      padding: 0;
    }
  }
  &__slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  &__title {
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    span {
      font-family: $spectral;
      font-weight: 300;
      font-style: italic;
      font-size: 32px;
      line-height: 1;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);

      @include viewport-lg {
        font-size: 60px;
      }
      @include viewport-xl {
        font-size: 80px;
      }
      &:nth-child(2) {
        padding-left: 25px;
      }
    }
  }
  &__subtitle {
    font-family: $montserrat;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    margin: 0;
    position: relative;
    padding-left: 40px;
    @include viewport-lg {
      font-size: 24px;
      padding-left: 60px;
    }
    &::before {
      content: '—';
      position: absolute;
      display: block;
      left: 20px;
      @include viewport-lg {
        left: 30px;
      }
    }
  }
  &__place {
    font-family: $montserrat;
    font-weight: 400;
    font-size: 8px;
    font-style: italic;
    background: #01595f;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 5px;
    @include viewport-lg {
      font-size: 14px;
      padding: 10px;
    }
  }

  .swiper-pagination {
    bottom: 30px;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    opacity: 1;
    background: #fff;
  }
  .swiper-pagination-bullet-active {
    background: #008085;
    border-radius: 30px;
    width: 50px;
  }
}
