.accordion {
  padding: 32px 0;
  @include viewport-xl {
    padding: 60px 0px;
  }
  &__list {
    padding: 0;
    margin: 0;
  }
  &__item {
    list-style: none;
    button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      background: none;
      border: none;
      padding: 0;
      gap: 20px;
      padding: 16px;
      cursor: pointer;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background: transparent;
      transition: background 200ms linear;
      @include viewport-xl {
        padding: 24px;
      }
      &[aria-expanded='true'] {
        background: #145260;
        & ~ .accordion__content {
          opacity: 1;
          max-height: 500px;
        }
        .accordion__icon {
          transform: rotate(45deg);
        }
      }
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    transition: transform 200ms linear;
  }
  &__title {
    font-family: $montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    text-align: left;
  }
  &__content {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #145260;
    opacity: 0;
    overflow: hidden;
    max-height: 0px;
    transition: opacity 200ms linear, max-height 200ms linear;
    z-index: -1000;
    position: relative;
    p {
      font-family: $montserrat;
      font-size: 14px;
      font-weight: 300;
      margin: 0;
      padding: 8px 16px 16px 16px;
      @include viewport-xl {
        padding: 0 24px 24px 24px;
      }
    }
  }
}
