.category {
  padding: 32px 0;
  @include viewport-lg {
    padding: 30px 0 90px;
  }
  &__item {
    margin-bottom: 30px;
  }
  &__header {
    display: flex;
    gap: 20px;
    flex-direction: column;
    @include viewport-lg {
      flex-direction: row;
      align-items: center;
    }
    span {
      display: flex;
      gap: 5px;
      align-items: center;
      // justify-content: center;
    }
  }
  &__img {
    border-radius: 8px;
    overflow: hidden;
    height: 300px;
    margin-bottom: 24px;
    @include viewport-lg {
      height: 600px;
    }
    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 24px;
    @include viewport-lg {
      font-size: 20px;
    }
  }
  &__btn {
    border: none;
    background: none;
    text-decoration: none;
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    padding: 0;
    @include viewport-lg {
      font-size: 20px;
    }
  }
}
.subhead {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  @include viewport-lg {
    margin-bottom: 40px;
  }
  @include viewport-lg {
    flex-direction: row;
    gap: 40px;
  }
  &__review {
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    span:first-child {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    span:last-child {
    }
  }
  &__location {
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
  }
  &__beach {
    font-family: $montserrat;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
  }
}
