html {
}
body {
  font-family: $montserrat;
  line-height: 1.4;
  background: linear-gradient(to left, #0b363f 0%, #0b4652 85%, #0f4550 100%);
  color: #fff;
  font-size: 16px;
  transition: background 0.2s ease, color 0.2s ease;
}
.wrapper {
  //   min-height: 100vh;
  //   text-align: center;
  //   display: flex;
  //   flex-flow: column;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}
