@mixin viewport-sm {
  @media (min-width: 576px) {
    @content;
  }
}
@mixin viewport-md {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin viewport-lg {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin viewport-xl {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin viewport-xxl {
  @media (min-width: 1440px) {
    @content;
  }
}
@mixin text-gradient {
  background: var(--hero-name-background);
  background-clip: text;
  color: transparent;
}
