:root {
  --main-color: #1e1e20;
  --second-color: #161618;
  --mute-color: #313136;
  --main-text-color: #fff;
  --second-text-color: rgba(235, 235, 245, 0.6);
  --hero-name-background: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
  --brand-color: #646cff;
  --brand-light-color: #747bff;
}
